* {
    border-radius: 12px;
    color: white;
    border:none;
} 

#window {
    font-family: JetBrainsMono Nerd Font Mono;
    font-size: 28px;
    background: rgba(39,  35, 58, 0.8);
}


#input {
    background: transparent;
    border: none;
    font-size: 20px;
    min-height: 48px;
}

#input:selected {
    border: none;
}

#entry:selected {
    background-color: rgba(80,81,104, 0.4);
    border-radius: unset;
}


image {
    margin-right: 12px;
    margin-left: 5px;
}
